.cart-page{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.title{
    display: flex;
    justify-content: space-between;
}
h2{
    color: #B7D4FF;
    font-family: MarkGEOCAPSBold;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-1{
    display: flex;
    gap: 20px;
}
h1{
    color: var(--primary-color);
    font-family: "Mark GEO CAPS";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
.book-icon{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: var(--primary-color);
    text-align: center;
    align-content: center;
}
.table ::ng-deep .p-datatable-thead th{
    color: var(--primary-color);
    font-family: MarkGEOCAPSBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    height: 70px;
}
.table ::ng-deep .p-datatable-tbody td{
    text-align: center;
    color: var(--primary-color);
    font-family: "Mark GEO";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 60px;

}
.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}
.buttons ::ng-deep .p-inputtext {
    text-align: center;
    width: 140px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #BBFFC9;
    background: #FFF;
    color: #429FFD;
    font-family: MarkGEOCAPSBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.buttons ::ng-deep .p-button{
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #B3D4FF;
    color: #2869CA;
    font-family: "Mark GEO";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.custom-buttons{
    display: flex;
    gap: 10px;
}
.custom-buttons ::ng-deep .p-button{
    width: 206px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    color: #FFF;
    font-family: MarkGEOCAPSBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &:hover{
        opacity: 0.8;
    }
}
.custom-buttons ::ng-deep .custom-button-1 {
    background: var(--primary-color);
}

.custom-buttons ::ng-deep .custom-button-2 {
    border-radius: 10px;
    background: #FF6E6E;
}
.table ::ng-deep .custom-button-3{
    background: #FF6E6E;
    border: none;
    &:hover{
        transition: none !important;
        transform: none !important;
        background: #fa8181;
    }
}
.loading {
    text-align: center;
    font-size: 18px;
    color: gray;
    margin-top: 20px;
  }
  
  .loading .pi {
    font-size: 30px;
    color: #666;
  }
  .empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .empty-cart p{
    size: 18px;
    font-size: 40px;
    color: #87a5d3;
    font-family: MarkGEOCAPSBold;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
   :host ::ng-deep .pi.pi-shopping-cart::before{
   font-size: 100px;
    color: #87a5d3;
  }
  .empty-cart ::ng-deep .p-button{
    color: #FFF;
    background-color: var(--primary-color);
    font-size: 20px;
    &:hover{
        background-color: var(--hover-color);
    }
  }

  