@import 'primeicons/primeicons.css';

@font-face {
  font-family: 'MarkGEOCAPSBold';
  src: url('/fonts/MarkGEOCAPS-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
:root{
    --page-color: #E4ECF9;
    --primary-color: #2869CA;
    --hover-color: #0a2f68;     
}
body {
    background-color: var(--page-color) ;
    margin-left: 240px;
    margin-right: 240px;
  }
  @mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
